/*Disregard this, kala ko wala pang gumawa sa styler.*/
body{
    background-image: linear-gradient(rgb(176, 205, 227), #FFFAFA  );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: monospace;
    color: white;
    border: 1px;
    
}